apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      initContainers:
        - name: seed-data
          image: restohub/order-service:latest
          command: ["node", "src/seed.js"]
          env:
            - name: NODE_ENV
              value: "production"
            - name: MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: order-service-secret
                  key: mongodb-uri
            - name: REDIS_URL
              valueFrom:
                configMapKeyRef:
                  name: order-service-config
                  key: redis-url
            - name: RABBITMQ_URL
              valueFrom:
                secretKeyRef:
                  name: order-service-secret
                  key: rabbitmq-url
      containers:
        - name: order-service
          image: restohub/order-service:latest
          ports:
            - containerPort: 4003
          env:
            - name: NODE_ENV
              value: "production"
            - name: PORT
              value: "4003"
            - name: MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: order-service-secret
                  key: mongodb-uri
            - name: REDIS_URL
              valueFrom:
                configMapKeyRef:
                  name: order-service-config
                  key: redis-url
            - name: RABBITMQ_URL
              valueFrom:
                secretKeyRef:
                  name: order-service-secret
                  key: rabbitmq-url
