apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
        - name: payment-service
          image: restohub/payment-service:latest
          ports:
            - containerPort: 4004
          env:
            - name: NODE_ENV
              value: "production"
            - name: PORT
              value: "4004"
            - name: STRIPE_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: payment-service-secret
                  key: stripe-secret-key
            - name: MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: payment-service-secret
                  key: mongodb-uri
            - name: REDIS_URL
              valueFrom:
                configMapKeyRef:
                  name: payment-service-config
                  key: redis-url
            - name: RABBITMQ_URL
              valueFrom:
                secretKeyRef:
                  name: payment-service-secret
                  key: rabbitmq-url
