apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
        - name: product-service
          image: restohub/product-service:latest
          ports:
            - containerPort: 4001
          env:
            - name: NODE_ENV
              value: "production"
            - name: PORT
              value: "4001"
            - name: MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: product-service-secret
                  key: mongodb-uri
            - name: REDIS_URL
              valueFrom:
                configMapKeyRef:
                  name: product-service-config
                  key: redis-url
            - name: RABBITMQ_URL
              valueFrom:
                secretKeyRef:
                  name: product-service-secret
                  key: rabbitmq-url
