apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: restohub/user-service:latest
          ports:
            - containerPort: 4002
          env:
            - name: NODE_ENV
              value: "production"
            - name: PORT
              value: "4002"
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: user-service-secret
                  key: jwt-secret
            - name: MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: user-service-secret
                  key: mongodb-uri
            - name: REDIS_URL
              valueFrom:
                configMapKeyRef:
                  name: user-service-config
                  key: redis-url
            - name: RABBITMQ_URL
              valueFrom:
                secretKeyRef:
                  name: user-service-secret
                  key: rabbitmq-url
